body {
  background-color: #FAF8EF;
}
.full-width {
  width: 100%;
}
.stage {
  width: 90%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.centered-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn {
  border-radius:5px;
  display:block;
  font-family:sans-serif;
  font-size:18px;
  line-height:44px;
  text-align:center;
  text-decoration:none;
  display: inline-block;
  margin: 0 auto;
}
.new-game {
  background-color:#8f7a66;
  border:1px solid #8f7a66;
  color:#f9f6f2;
  width:40%;
  max-width: 200px;
}
.fb-login {
  background-color:#133783;
  border:1px solid #133783;
  color:#f9f6f2;
  width:40%;
  max-width: 200px;
}
.fb-user {
  font-weight: bold;
  text-align:center;
  display: inline-block;
  margin: 0 auto;
  width:40%;
  max-width: 200px;
}
.fb-user img {
  vertical-align:middle;
}
.fb-user a:link, .fb-user a:visited {
  color: #776e65;
  text-decoration: underline;
  font-weight: normal;
}
.message {
  background-color:#edc53f;
  border:1px solid #edc53f;
  border-radius:5px;
  color:#fff;
  display:block;
  font-family:sans-serif;
  font-size:18px;
  line-height:25px;
  text-align:center;
  text-decoration:none;
  display: block;
  width:90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
}
.message a:link, .message a:visited {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}